<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->

<head>
<title>GPIO Bachelorarbeit</title>
<link rel="stylesheet" type="text/css" href="/style.css"/>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<script language="javascript" type="text/javascript" src="/script.js"></script> 
<script>setTimeout(reload_page, 15000)</script>

</head>

<body>
<div style='display:flex'>
<div class="BorderMargin">
  <div style=text-align:center;>mark the LED and then set the direction you want to use</div>
	<div id="led1" class='start_led' onclick="change(this)">
		<img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">1</p></div>
	<div id="led2" class='start_led' onclick="change(this)">
		<img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">2</p></div>
        <div id="led3" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">3</p></div>
        <div id="led4" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">4</p></div>
        <div id="led5" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">5</p></div>
        <div id="led6" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">6</p></div>
        <div id="led7" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">7</p></div>
        <div id="led8" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">8</p></div>
        <div id="led9" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">9</p></div>
        <div id="led10" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">10</p></div>
        <div id="led11" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">11</p></div>
        <div id="led12" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">12</p></div>
        <div id="led13" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">13</p></div>
	<br>
        <div id="led14" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">14</p></div>
        <div id="led15" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">15</p></div>
        <div id="led16" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">16</p></div>
        <div id="led17" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">17</p></div>
        <div id="led18" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">18</p></div>
        <div id="led19" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">19</p></div>
        <div id="led20" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">20</p></div>
        <div id="led21" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">21</p></div>
        <div id="led22" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">22</p></div>
        <div id="led23" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">23</p></div>
        <div id="led24" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">24</p></div>
        <div id="led25" class='start_led' onclick="change(this)">
                <img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">25</p></div>
        <div id="led26" class='start_led' onclick="change(this)">
		<img src="/images/LED4.png"" width="65" height="65"><p style="text-align:center;">26</p></div>
</div>

<div class="BorderMargin">
        <button id="MC1" class='MCbutton' style='background-color: orange;' onclick="make_direction('out')">click to set the marked pins to direction 'out'</button>
        <button id="MC2" class='MCbutton' style='background-color: green;' onclick="make_direction('in')">click to set the marked pins to direction 'in'</button>
</div>

<div class="BorderMargin">
	<img src="/images/raspberry_layout.png" onclick="window.open(this.src)" alt="Raspberry GPIO Layout" width="280" height="300"></div>
</div>

</div><br>

<div class="BorderMargin">
  <div style=text-align:center;> active and exported LED with direction out </div>
 
  <div id='border1led1' class="BorderMargin_LED">
    <image id='image1LED1' class='imageLED' src="/images/LED3.png" alt="LED" style="width:120px;height:120px;">
       <script>website_dynamic(1,1, <%- JSON.stringify(direction['pin1'])%>, <%- JSON.stringify(value['pin1'])%>);</script>
       <form action="/led/out/1" method="post">
       <button type="submit" class="button button4">On/Off</button>
       </form>
    <p>Led 1 Status:</p>
    <p id='status1P1' class="status_text"><%- JSON.stringify(value['pin1'])%></p>
  </div>


  <div id='border1led2' class="BorderMargin_LED">
    <image id='image1LED2' src="/images/LED3.png" alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(2,1, <%- JSON.stringify(direction['pin2'])%>, <%- JSON.stringify(value['pin2'])%>);</script>
      <form action="/led/out/2" method="post">
      <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 2 Status:</p>
    <p id='status1P2' class="status_text"><%- JSON.stringify(value['pin2'])%></p>
  </div>


  <div id='border1led3' class="BorderMargin_LED">
    <image id='image1LED3' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(3,1, <%- JSON.stringify(direction['pin3'])%>, <%- JSON.stringify(value['pin3'])%>);</script>
      <form action="/led/out/3" method="post">
       <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 3 Status:</p>
    <p id='status1P3' class="status_text"><%- JSON.stringify(value['pin3'])%></p>
  </div>


  <div id='border1led4' class="BorderMargin_LED">
    <image id='image1LED4' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(4,1, <%- JSON.stringify(direction['pin4'])%>, <%- JSON.stringify(value['pin4'])%>);</script>
      <form action="/led/out/4" method="post">
       <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 4 Status:</p>
    <p id='status1P4' class="status_text"><%- JSON.stringify(value['pin4'])%></p>
  </div>

  <div id='border1led5' class="BorderMargin_LED">
    <image id='image1LED5' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(5,1, <%- JSON.stringify(direction['pin5'])%>, <%- JSON.stringify(value['pin5'])%>);</script>
      <form action="/led/out/5" method="post">
       <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 5 Status:</p>
    <p id='status1P5' class="status_text"><%- JSON.stringify(value['pin5'])%></p>
  </div>


  <div id='border1led6' class="BorderMargin_LED">
    <image id='image1LED6' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(6,1, <%- JSON.stringify(direction['pin6'])%>, <%- JSON.stringify(value['pin6'])%>);</script>
      <form action="/led/out/6" method="post">
       <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 6 Status:</p>
    <p id='status1P6' class="status_text"><%- JSON.stringify(value['pin6'])%></p>
  </div>

  <div id='border1led7' class="BorderMargin_LED">
    <image id='image1LED7' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(7,1, <%- JSON.stringify(direction['pin7'])%>, <%- JSON.stringify(value['pin7'])%>);</script>
      <form action="/led/out/7" method="post">
       <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 7 Status:</p>
    <p id='status1P7' class="status_text"><%- JSON.stringify(value['pin7'])%></p>
  </div>

  <div id='border1led8' class="BorderMargin_LED">
    <image id='image1LED8' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(8,1, <%- JSON.stringify(direction['pin8'])%>, <%- JSON.stringify(value['pin8'])%>);</script>
      <form action="/led/out/8" method="post">
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 8 Status:</p>
    <p id='status1P8' class="status_text"><%- JSON.stringify(value['pin8'])%></p>
  </div>

  <div id='border1led9' class="BorderMargin_LED">
    <image id='image1LED9' src = '/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(9,1, <%- JSON.stringify(direction['pin9'])%>, <%- JSON.stringify(value['pin9'])%>);</script>
      <form action="/led/out/9" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 9 Status:</p>
    <p id='status1P9' class="status_text"><%- JSON.stringify(value['pin9'])%></p>
  </div>

  <div id='border1led10' class="BorderMargin_LED">
    <image id='image1LED10' src = '/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(10,1, <%- JSON.stringify(direction['pin10'])%>, <%- JSON.stringify(value['pin10'])%>);</script>
      <form action="/led/out/10" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 10 Status:</p>
    <p id='status1P10' class="status_text"><%- JSON.stringify(value['pin10'])%></p>
  </div>

  <div id='border1led11' class="BorderMargin_LED">
    <image id='image1LED11' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(11,1, <%- JSON.stringify(direction['pin11'])%>, <%- JSON.stringify(value['pin11'])%>);</script>
      <form action="/led/out/11" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 11 Status:</p>
    <p id='status1P11' class="status_text"><%- JSON.stringify(value['pin11'])%></p>
  </div>

  <div id='border1led12' class="BorderMargin_LED">
    <image id='image1LED12' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(12,1, <%- JSON.stringify(direction['pin12'])%>, <%- JSON.stringify(value['pin12'])%>);</script>
      <form action="/led/out/12" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 12 Status:</p>
    <p id='status1P12' class="status_text"><%- JSON.stringify(value['pin12'])%></p>
  </div>

  <div id='border1led13' class="BorderMargin_LED">
    <image id='image1LED13' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(13,1, <%- JSON.stringify(direction['pin13'])%>, <%- JSON.stringify(value['pin13'])%>);</script>
      <form action="/led/out/13" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 13 Status:</p>
    <p id='status1P13' class="status_text"><%- JSON.stringify(value['pin13'])%></p>
  </div>

  <div id='border1led14' class="BorderMargin_LED">
    <image id='image1LED14' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(14,1, <%- JSON.stringify(direction['pin14'])%>, <%- JSON.stringify(value['pin14'])%>);</script>
      <form action="/led/out/14" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 14 Status:</p>
    <p id='status1P14' class="status_text"><%- JSON.stringify(value['pin14'])%></p>
  </div>

  <div id='border1led15' class="BorderMargin_LED">
    <image id='image1LED15' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(15,1, <%- JSON.stringify(direction['pin15'])%>, <%- JSON.stringify(value['pin15'])%>);</script>
      <form action="/led/out/15" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 15 Status:</p>
    <p id='status1P15' class="status_text"><%- JSON.stringify(value['pin15'])%></p>
  </div>

  <div id='border1led16' class="BorderMargin_LED">
    <image id='image1LED16' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(16,1, <%- JSON.stringify(direction['pin16'])%>, <%- JSON.stringify(value['pin16'])%>);</script>
      <form action="/led/out/16" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 16 Status:</p>
    <p id='status1P16' class="status_text"><%- JSON.stringify(value['pin16'])%></p>
  </div>

  <div id='border1led17' class="BorderMargin_LED">
    <image id='image1LED17' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(17,1, <%- JSON.stringify(direction['pin17'])%>, <%- JSON.stringify(value['pin17'])%>);</script>
      <form action="/led/out/17" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 17 Status:</p>
    <p id='status1P17' class="status_text"><%- JSON.stringify(value['pin17'])%></p>
  </div>

  <div id='border1led18' class="BorderMargin_LED">
    <image id='image1LED18' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(18,1, <%- JSON.stringify(direction['pin18'])%>, <%- JSON.stringify(value['pin18'])%>);</script>
      <form action="/led/out/18" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 18 Status:</p>
    <p id='status1P18' class="status_text"><%- JSON.stringify(value['pin18'])%></p>
  </div>

  <div id='border1led19' class="BorderMargin_LED">
    <image id='image1LED19' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(19,1, <%- JSON.stringify(direction['pin19'])%>, <%- JSON.stringify(value['pin19'])%>);</script>
      <form action="/led/out/19" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 19 Status:</p>
    <p id='status1P19' class="status_text"><%- JSON.stringify(value['pin19'])%></p>
  </div>

  <div id='border1led20' class="BorderMargin_LED">
    <image id='image1LED20' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(20,1, <%- JSON.stringify(direction['pin20'])%>, <%- JSON.stringify(value['pin20'])%>);</script>
      <form action="/led/out/20" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 20 Status:</p>
    <p id='status1P20' class="status_text"><%- JSON.stringify(value['pin20'])%></p>
  </div>

  <div id='border1led21' class="BorderMargin_LED">
    <image id='image1LED21' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(21,1, <%- JSON.stringify(direction['pin21'])%>, <%- JSON.stringify(value['pin21'])%>);</script>
      <form action="/led/out/21" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 21 Status:</p>
    <p id='status1P21' class="status_text"><%- JSON.stringify(value['pin21'])%></p>
  </div>

  <div id='border1led22' class="BorderMargin_LED">
    <image id='image1LED22' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(22,1, <%- JSON.stringify(direction['pin22'])%>, <%- JSON.stringify(value['pin22'])%>);</script>
      <form action="/led/out/22" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 22 Status:</p>
    <p id='status1P22' class="status_text"><%- JSON.stringify(value['pin22'])%></p>
  </div>

  <div id='border1led23' class="BorderMargin_LED">
    <image id='image1LED23' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(23,1, <%- JSON.stringify(direction['pin23'])%>, <%- JSON.stringify(value['pin23'])%>);</script>
      <form action="/led/out/23" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 23 Status:</p>
    <p id='status1P23' class="status_text"><%- JSON.stringify(value['pin23'])%></p>
  </div>

  <div id='border1led24' class="BorderMargin_LED">
    <image id='image1LED24' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(24,1, <%- JSON.stringify(direction['pin24'])%>, <%- JSON.stringify(value['pin24'])%>);</script>
      <form action="/led/out/24" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 24 Status:</p>
    <p id='status1P24' class="status_text"><%- JSON.stringify(value['pin24'])%></p>
  </div>

  <div id='border1led25' class="BorderMargin_LED">
    <image id='image1LED25' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(25,1, <%- JSON.stringify(direction['pin25'])%>, <%- JSON.stringify(value['pin25'])%>);</script>
      <form action="/led/out/25" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 25 Status:</p>
    <p id='status1P25' class="status_text"><%- JSON.stringify(value['pin25'])%></p>
  </div>

  <div id='border1led26' class="BorderMargin_LED">
    <image id='image1LED26' src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
      <script>website_dynamic(26,1, <%- JSON.stringify(direction['pin26'])%>, <%- JSON.stringify(value['pin26'])%>);</script>
      <form action="/led/out/26" method="post"/>
        <button type="submit" class="button button4">On/Off</button>
      </form>
    <p>Led 26 Status:</p>
    <p id='status1P26' class="status_text"><%- JSON.stringify(value['pin26'])%></p>
  </div>

</div>



<div class="BorderMargin">
  <div style=text-align:center;> active and exported LED with direction in </div>

  <div id='border2led1' class="BorderMargin_LED">
    <image id="image2LED1" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(1,2, <%- JSON.stringify(direction['pin1'])%>, <%- JSON.stringify(value['pin1'])%>);</script>
      <form action="/led/in/1" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 1 Status:</p>
    <p id='status2P1' class="status_text"><%- JSON.stringify(value['pin1'])%></p>
  </div>


  <div id='border2led2' class="BorderMargin_LED">
    <image id="image2LED2" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(2,2, <%- JSON.stringify(direction['pin2'])%>, <%- JSON.stringify(value['pin2'])%>);</script>
      <form action="/led/in/2" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 2 Status:</p>
    <p id='status2P2' class="status_text"><%- JSON.stringify(value['pin2'])%></p>
  </div>


  <div id='border2led3' class="BorderMargin_LED">
    <image id="image2LED3" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(3,2, <%- JSON.stringify(direction['pin3'])%>, <%- JSON.stringify(value['pin3'])%>);</script>
      <form action="/led/in/3" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 3 Status:</p>
    <p id='status2P3' class="status_text"><%- JSON.stringify(value['pin3'])%></p>
  </div>


  <div id='border2led4' class="BorderMargin_LED">
    <image id="image2LED4" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(4,2, <%- JSON.stringify(direction['pin4'])%>, <%- JSON.stringify(value['pin4'])%>);</script>
      <form action="/led/in/4" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 4 Status:</p>
    <p id='status2P4' class="status_text"><%- JSON.stringify(value['pin4'])%></p>
  </div>


  <div id='border2led5' class="BorderMargin_LED">
    <image id="image2LED5" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(5,2, <%- JSON.stringify(direction['pin5'])%>, <%- JSON.stringify(value['pin5'])%>);</script>
      <form action="/led/in/5" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 5 Status:</p>
    <p id='status2P5' class="status_text"><%- JSON.stringify(value['pin5'])%></p>
  </div>


  <div id='border2led6' class="BorderMargin_LED">
    <image id="image2LED6" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(6,2, <%- JSON.stringify(direction['pin6'])%>, <%- JSON.stringify(value['pin6'])%>);</script>
      <form action="/led/in/6" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 6 Status:</p>
    <p id='status2P6' class="status_text"><%- JSON.stringify(value['pin6'])%></p>
  </div>


  <div id='border2led7' class="BorderMargin_LED">
    <image id="image2LED7" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(7,2, <%- JSON.stringify(direction['pin7'])%>, <%- JSON.stringify(value['pin7'])%>);</script>
      <form action="/led/in/7" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 7 Status:</p>
    <p id='status2P7' class="status_text"><%- JSON.stringify(value['pin7'])%></p>
  </div>


  <div id='border2led8' class="BorderMargin_LED">
    <image id="image2LED8" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(8,2, <%- JSON.stringify(direction['pin8'])%>, <%- JSON.stringify(value['pin8'])%>);</script>
      <form action="/led/in/8" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 8 Status:</p>
    <p id='status2P8' class="status_text"><%- JSON.stringify(value['pin8'])%></p>
  </div>


  <div id='border2led9' class="BorderMargin_LED">
    <image id="image2LED9" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(9,2, <%- JSON.stringify(direction['pin9'])%>, <%- JSON.stringify(value['pin9'])%>);</script>
      <form action="/led/in/9" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 9 Status:</p>
    <p id='status2P9' class="status_text"><%- JSON.stringify(value['pin9'])%></p>
  </div>


  <div id='border2led10' class="BorderMargin_LED">
    <image id="image2LED10" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(10,2, <%- JSON.stringify(direction['pin10'])%>, <%- JSON.stringify(value['pin10'])%>);</script>
      <form action="/led/in/10" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 10 Status:</p>
    <p id='status2P10' class="status_text"><%- JSON.stringify(value['pin10'])%></p>
  </div>


  <div id='border2led11' class="BorderMargin_LED">
    <image id="image2LED11" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(11,2, <%- JSON.stringify(direction['pin11'])%>, <%- JSON.stringify(value['pin11'])%>);</script>
      <form action="/led/in/11" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 11 Status:</p>
    <p id='status2P11' class="status_text"><%- JSON.stringify(value['pin11'])%></p>
  </div>


  <div id='border2led12' class="BorderMargin_LED">
    <image id="image2LED12" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(12,2, <%- JSON.stringify(direction['pin12'])%>, <%- JSON.stringify(value['pin12'])%>);</script>
      <form action="/led/in/12" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 12 Status:</p>
    <p id='status2P12' class="status_text"><%- JSON.stringify(value['pin12'])%></p>
  </div>


  <div id='border2led13' class="BorderMargin_LED">
    <image id="image2LED13" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(13,2, <%- JSON.stringify(direction['pin13'])%>, <%- JSON.stringify(value['pin13'])%>);</script>
      <form action="/led/in/13" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 13 Status:</p>
    <p id='status2P13' class="status_text"><%- JSON.stringify(value['pin13'])%></p>
  </div>


  <div id='border2led14' class="BorderMargin_LED">
    <image id="image2LED14" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(14,2, <%- JSON.stringify(direction['pin14'])%>, <%- JSON.stringify(value['pin14'])%>);</script>
      <form action="/led/in/14" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 14 Status:</p>
    <p id='status2P14' class="status_text"><%- JSON.stringify(value['pin14'])%></p>
  </div>

  <div id='border2led15' class="BorderMargin_LED">
    <image id="image2LED15" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(15,2, <%- JSON.stringify(direction['pin15'])%>, <%- JSON.stringify(value['pin15'])%>);</script>
      <form action="/led/in/15" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 15 Status:</p>
    <p id='status2P15' class="status_text"><%- JSON.stringify(value['pin15'])%></p>
  </div>

  <div id='border2led16' class="BorderMargin_LED">
    <image id="image2LED16" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(16,2, <%- JSON.stringify(direction['pin16'])%>, <%- JSON.stringify(value['pin16'])%>);</script>
      <form action="/led/in/16" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 16 Status:</p>
    <p id='status2P16' class="status_text"><%- JSON.stringify(value['pin16'])%></p>
  </div>

  <div id='border2led17' class="BorderMargin_LED">
    <image id="image2LED17" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(17,2, <%- JSON.stringify(direction['pin17'])%>, <%- JSON.stringify(value['pin17'])%>);</script>
      <form action="/led/in/17" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 17 Status:</p>
    <p id='status2P17' class="status_text"><%- JSON.stringify(value['pin17'])%></p>
  </div>

  <div id='border2led18' class="BorderMargin_LED">
    <image id="image2LED18" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(18,2, <%- JSON.stringify(direction['pin18'])%>, <%- JSON.stringify(value['pin18'])%>);</script>
      <form action="/led/in/18" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 18 Status:</p>
    <p id='status2P18' class="status_text"><%- JSON.stringify(value['pin18'])%></p>
  </div>

  <div id='border2led19' class="BorderMargin_LED">
    <image id="image2LED19" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(19,2, <%- JSON.stringify(direction['pin19'])%>, <%- JSON.stringify(value['pin19'])%>);</script>
      <form action="/led/in/19" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 19 Status:</p>
    <p id='status2P19' class="status_text"><%- JSON.stringify(value['pin19'])%></p>
  </div>

  <div id='border2led20' class="BorderMargin_LED">
    <image id="image2LED20" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(20,2, <%- JSON.stringify(direction['pin20'])%>, <%- JSON.stringify(value['pin20'])%>);</script>
      <form action="/led/in/20" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 20 Status:</p>
    <p id='status2P20' class="status_text"><%- JSON.stringify(value['pin20'])%></p>
  </div>

  <div id='border2led21' class="BorderMargin_LED">
    <image id="image2LED21" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(21,2, <%- JSON.stringify(direction['pin21'])%>, <%- JSON.stringify(value['pin21'])%>);</script>
      <form action="/led/in/21" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 21 Status:</p>
    <p id='status2P21' class="status_text"><%- JSON.stringify(value['pin21'])%></p>
  </div>
 
  <div id='border2led22' class="BorderMargin_LED">
    <image id="image2LED22" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(22,2, <%- JSON.stringify(direction['pin22'])%>, <%- JSON.stringify(value['pin22'])%>);</script>
      <form action="/led/in/22" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 22 Status:</p>
    <p id='status2P22' class="status_text"><%- JSON.stringify(value['pin22'])%></p>
  </div>

  <div id='border2led23' class="BorderMargin_LED">
    <image id="image2LED23" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(23,2, <%- JSON.stringify(direction['pin23'])%>, <%- JSON.stringify(value['pin23'])%>);</script>
      <form action="/led/in/23" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 23 Status:</p>
    <p id='status2P23' class="status_text"><%- JSON.stringify(value['pin23'])%></p>
  </div>

  <div id='border2led24' class="BorderMargin_LED">
    <image id="image2LED24" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(24,2, <%- JSON.stringify(direction['pin24'])%>, <%- JSON.stringify(value['pin24'])%>);</script>
      <form action="/led/in/24" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 24 Status:</p>
    <p id='status2P24' class="status_text"><%- JSON.stringify(value['pin24'])%></p>
  </div>


  <div id='border2led25' class="BorderMargin_LED">
    <image id="image2LED25" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(25,2, <%- JSON.stringify(direction['pin25'])%>, <%- JSON.stringify(value['pin25'])%>);</script>
      <form action="/led/in/25" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 25 Status:</p>
    <p id='status2P25' class="status_text"><%- JSON.stringify(value['pin25'])%></p>
  </div>


  <div id='border2led26' class="BorderMargin_LED">
    <image id="image2LED26" src='/images/LED3.png' alt="LED" style="width:120px;height:120px;">
	<script>website_dynamic(26,2, <%- JSON.stringify(direction['pin26'])%>, <%- JSON.stringify(value['pin26'])%>);</script>
      <form action="/led/in/26" method="post"/>
        <button type="submit" class="button button4">Check</button>
      </form>
    <p>Led 26 Status:</p>
    <p id='status2P26' class="status_text"><%- JSON.stringify(value['pin26'])%></p>
  </div>

</div>
</div>



<div>
	<div id='Unexport' class="BorderMargin_LED" style="float:left; display:initial; bottom:0px;">
		<image id='Unexport_image' class='imageLED' src="/images/Kreuz.png" alt="Kreuz" style="width:120px;height:120px;">
		<form action="/unexport/" method="post"/>
			<button type="submit" class="button button5">click</button>
		</form>
		<p id='Unexport_text' class="status_text">click to unexport all pins</p>
	</div>

	<div id='Anwendung' class="BorderMargin_LED" style="float:left; display:initial">
		<image id='Anwendung_image' class='imageLED' src="/images/Weiter.png" alt="Weiter" style="width:120px;height:120px;">
		<form action="/Anwendungsbeispiel/" method="get"/>
			<button type="submit" class="button button5">click</button>
		</form>
		<p id='Anwendung_text' class="status_text">continue to Anwendung 1</p>
	</div>

        <div id='Anwendung2' class="BorderMargin_LED" style="float:left; display:initial">
                <image id='Anwendung_image' class='imageLED' src="/images/Weiter.png" alt="Weiter" style="width:120px;height:120px;">

                <form action="/Anwendungsbeispiel2/" method="get"/>
                        <button type="submit" class="button button5">continue</button>
                </form>
		<p id='Anwendung_text' class="status_text">continue to Anwendung 2</p>
	</div>
</div>

<div style="position:fixed; bottom:0px; right:0px;">
        <image src = '/images/nodejs-logo3.png' alt="LOGO" style="height:180px;  float: right;">
        <image src = '/images/rpi-logo.png' alt="LOGO" style="width:140px;height:180px;  float: right;">
        <image src = '/images/github.png' alt="LOGO" style="width:200px;height:200px;  float: right;">
	<div style="text-align:right;">Author: Stefan Chalupka</div>
</div>

</body>
